body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url(104509b9fc7cdccecaccc1.png);
    
    background-size: cover;

}

.logo {
    margin-right: 83px;
}

.nav-menu {
    padding-top: 41px;
    padding-left: 119px;
    display: flex;
    align-items: center;
}

.nav-items {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 46px;
    color:  #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.nav-items:hover {
    border-top: 5px solid blueviolet;
}

.right-side {
    margin-right: 10%;
    margin-left: auto;
    justify-content: end;
    display: flex;
    align-items: center;
}

.language-text {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.language {
    margin-right: 60px;
    padding: 10px 0px;
}
 .language-text:hover {
    border-top: 5px solid blueviolet;
 }

.btn-add-post {
    padding: 10px 20px;
    background-color: blueviolet;
    border-radius: 5px;
}

.btn-add-post a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700px;
}

.large{
    margin-top: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.large-text {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
}

.small-text {
    color: #fff;
    font-size: 24px;
}

.choose {
    display:flex;
    justify-content: center;
    padding-right: 0px;
}

.category {
    margin-top: 67px;
    margin-right: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px 20px;
}
.category > a {
    color: rgba(141, 141,141, 1);
    padding-right: 50px;
}
.region {
    margin-top: 67px;
    margin-left: 13px;
    margin-right: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px 20px;
}
.region > a {
    color: rgba(141, 141,141, 1);
    padding-right: 50px;
}
.city {
    margin-top: 67px;
    margin-left: 13px;
    margin-right: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px 20px;
}
.city > a {
    color: rgba(141, 141,141, 1);
    padding-right: 50px;
}
.car {
    display: flex;
    align-items: center;
    margin-top: 67px;
    margin-left: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
}
.car > a {
    color: rgba(141, 141,141, 1);
    padding-right: 50px;
}

.car img {
    width: 19px;
    height: 20.7px;
    padding: 10px 17px;
    background-color: #7D4E9E;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.lowpart{
    margin-top: 94px;
    display: flex;
    justify-content: center;
}

.squares {
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: rgba(255, 255, 255, 0.2);;
    height: 117px;
    width: 122px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
}

.squares a {
    font-family: 'Arial';
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 14px;
}

.sq_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

.sq_content img {
    height: 33px;
    width: 38px;
    padding-bottom: 11px;
}

.premium {
    margin-top: 19px;
    display: flex;
    justify-content: center;
    margin-bottom: 11px;
}

.premium_text {
    font-family: 'Arial';
    font-size: 46px;
    color: #4E4E4E;
}
.horizontal {
    display: flex;
    justify-content: center;
    height: 2px;
}

.horizontal div {
    height: 2px;
    width: 6%;
    background-color: #4E4E4E;
}
.update_text {
    margin-top: 27px;
    display: flex;
    justify-content: center;
}
.update_text a {
    font-family: 'Arial';
    font-size: 20px;
    color: #4E4E4E;
}

.tables img {
    height: 38px;
    width: 38px;
    margin-right: 33px;
}
.rows img {
    height: 38px;
    width: 38px;
}

.tables_rows {
    display: flex;
    margin-left: auto;
    margin-right: 6%;
}
.popular_update {
    margin-top: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.product_map {
    margin-top: 1%;
    width: 35vh;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}
.product_img {
    width: 100%;
    padding-top: 17px;
}

.star_circle {
    max-width: 8em;
    margin-left: auto;
    margin-right: 0.6em;
    position: relative;
    background-color: #fff;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    margin-top: -58%;
    display: flex;
    align-items: center;
    justify-content: center
}
.star_circle img {
    width: 70%;
}
.arrow {
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow img {
    position: relative;
    z-index: 2;
}
.icons_znakomstva, .icons_nedvig, .icons_prod {
    position: sticky;
    height: 10vh;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: #7D4E9E;
    box-shadow: 0px 0px 8.78901px rgba(0, 0, 0, 0.5);
    margin-top: 9.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_map_content {
    height: 100%;
    display: flex;

}
.text_content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.description_content {
    margin-top: 4px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 23.7303px;
    color: #8D8D8D;
}
.date {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18.4569px;
    color: #676767;
    margin-bottom: 0px;
}
.header_content {
    margin-top: 11px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 31.6404px;
    margin-bottom: 0px;
}
.price_content {
    margin-top: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 23.7303px;
    margin-bottom: 0px;
}

.promotion {
    background-image: url(stol-noutbuk-ruchka-bloknot-rastenie-ruka-chashka-kofe-pena\ 1.png);
    background-size: cover;
}
.promotion_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promotion_text > a {
    margin-top: 65px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    color: #fff;
    margin-bottom: 20px;
}
.white-line {
    height: 2px;
    width: 6%;
    background-color: #fff;
    margin-bottom: 85px;
}
.information {
    display: flex;
    justify-content: center;
}
.information_card {
    margin-left: 2%;
    margin-right: 2%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}
.information_card > img {
    width: 20%;
    aspect-ratio: 1/1;
    margin-bottom: 8px;
}
.information_header {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-bottom: 8px;
}
.information_description {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}
.last_update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up_text_last_update {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.last_update_container {
    width: 85%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
.last_update_row {

    width: 100%;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    margin-bottom: 1%;
}
.map_container iframe {
    width: 100%;
    aspect-ratio: 4/1;
}
.map_container {
    margin-bottom: 40px;
}
.vse_objavlenija {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.vse_objavlenija_btn {
    display: flex;
    justify-content: center;
    background: #7D4E9E;
    padding: 10px 25px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
.widgets {
    background-color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.widget_header {
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.widget_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}
.second_footer {
    width: 100%;
    aspect-ratio: 20/1;
    background: #2F2F2F;
    display: flex;
    align-items: center;
}
.logo_footer{
    margin-right: auto;
    margin-left: 6%;
    display: flex;
    align-items: center;
    width: 10%;
}
.logo-img {
    height: 60px;
}
.footer_contact {
    margin-left: 46px;
    margin-right: 46px;
    display: flex;
    align-items: center;
}
.footer_contact a {
    margin-left: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.social_media {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
}
.social_media img {
    margin-left: 5px;
    margin-right: 5px;
}
.third_footer {
    width: 100%;
    aspect-ratio: 22/1;
    background: #202020;
    display: flex;
    align-items: center;
}
.third_footer a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.third_footer a:first-child {
    margin-left: 6%;
    margin-right: auto;
}
.third_footer a:last-child {
    margin-right: 6%;
}
